#corner {
   
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 
    width: 40px;
    height: 40px;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}
#corner:hover {
    width: 150px;
    height: 150px;    
}
div {
   
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}
div:hover {
    width: 300px;
}